mixin _footer
    footer.footer
        .wrapper
            .col
                .logo
                    img(src="", alt="")
            .col
                .col-title
            .col 
                .col-title
            .col
                .col-title
                .phone-number
                    h3 
                    button
                .contacts
                    div 
                        svg 
                        span
                    div
                        svg 
                        span
                .user-city
                    div
                    select
                .social-media