mixin _header
    header.header.wrapper
        .logo
            img.logo__img(src="assets/svg/logo.svg", alt="logo")
        //- TODO: make location selector
        //- .user-location
        //-     span.user-location__title Ваш город:
        .contacts
            .contacts__item
                <svg class="contacts__icon" width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.3333 0.5H1.66668C0.747461 0.5 0 1.24746 0 2.16668V13.8334C0 14.7525 0.747461 15.5 1.66668 15.5H18.3334C19.2525 15.5 20 14.7525 20 13.8333V2.16668C20 1.24746 19.2525 0.5 18.3333 0.5ZM1.66668 1.33332H18.3334C18.3948 1.33332 18.4489 1.3557 18.5065 1.36836C17.0636 2.68895 12.279 7.06598 10.6047 8.57453C10.4737 8.69254 10.2625 8.83332 10 8.83332C9.73758 8.83332 9.52641 8.69254 9.39496 8.57414C7.72078 7.06582 2.93598 2.68855 1.49328 1.36844C1.55102 1.35578 1.60523 1.33332 1.66668 1.33332ZM0.83332 13.8333V2.16668C0.83332 2.08504 0.85793 2.01098 0.879961 1.93637C1.98434 2.94715 5.32277 6.00121 7.48746 7.96969C5.3298 9.82309 1.99051 12.989 0.877344 14.0505C0.857695 13.9796 0.83332 13.9104 0.83332 13.8333ZM18.3333 14.6667H1.66668C1.60012 14.6667 1.54094 14.6435 1.47879 14.6286C2.62906 13.5321 5.98961 10.3479 8.10934 8.53453C8.38566 8.7852 8.63809 9.01375 8.83707 9.19305C9.18051 9.50312 9.5825 9.66668 10 9.66668C10.4175 9.66668 10.8195 9.50309 11.1625 9.19344C11.3616 9.01406 11.6142 8.78531 11.8907 8.53453C14.0105 10.3477 17.3706 13.5316 18.5212 14.6286C18.4591 14.6435 18.4 14.6667 18.3333 14.6667ZM19.1667 13.8333C19.1667 13.9103 19.1423 13.9796 19.1227 14.0505C18.0091 12.9885 14.6702 9.82289 12.5126 7.96973C14.6773 6.00125 18.0153 2.94746 19.12 1.93629C19.1421 2.0109 19.1667 2.085 19.1667 2.16664V13.8333Z" fill="#303030" />
                </svg>
                span.contacts__text example@mail.com
            .contacts__item
                <svg  class="contacts__icon" width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.00003 0C3.92615 0 0.611938 3.31421 0.611938 7.38809C0.611938 8.72925 1.21342 10.1717 1.23862 10.2325C1.43289 10.6936 1.8162 11.4098 2.0926 11.8296L7.15822 19.505C7.36552 19.8196 7.67234 20 8.00003 20C8.32771 20 8.63453 19.8196 8.84184 19.5054L13.9079 11.8296C14.1847 11.4098 14.5676 10.6936 14.7619 10.2325C14.7871 10.1721 15.3881 8.72968 15.3881 7.38809C15.3881 3.31421 12.0739 0 8.00003 0ZM13.9605 9.89526C13.7871 10.3086 13.4303 10.9748 13.1821 11.3512L8.11606 19.0269C8.01611 19.1786 7.98438 19.1786 7.88443 19.0269L2.81837 11.3512C2.57022 10.9748 2.21342 10.3081 2.04001 9.89483C2.03262 9.87701 1.48113 8.54933 1.48113 7.38809C1.48113 3.79357 4.40551 0.869187 8.00003 0.869187C11.5946 0.869187 14.5189 3.79357 14.5189 7.38809C14.5189 8.55106 13.9661 9.88223 13.9605 9.89526Z" fill="#303030" />
                    <path d="M8.00009 3.47719C5.8432 3.47719 4.08875 5.23208 4.08875 7.38853C4.08875 9.54499 5.8432 11.2999 8.00009 11.2999C10.157 11.2999 11.9114 9.54499 11.9114 7.38853C11.9114 5.23208 10.157 3.47719 8.00009 3.47719ZM8.00009 10.4307C6.32299 10.4307 4.95793 9.06607 4.95793 7.38853C4.95793 5.711 6.32299 4.34638 8.00009 4.34638C9.67719 4.34638 11.0422 5.711 11.0422 7.38853C11.0422 9.06607 9.67719 10.4307 8.00009 10.4307Z" fill="#303030" />
                </svg>
 
                span.contacts__text г. Москва, ул. Московска, д. 1.
            .contacts__item.contacts__item_column-end
                span.contacts__number +7(123) 123-45-67
                button.contacts__button Заказать обратный звонок
