mixin _nav
    .nav-background
        nav.nav.wrapper
            a.nav__link(href="#") О нас
            a.nav__link(href="#") Открытие бизнеса
            a.nav__link(href="#") Бухгалтерские услуги
            a.nav__link(href="#") Онлайн касса
            a.nav__link(href="#") Блок
            a.nav__link(href="#") Франшиза
            a.nav__link(href="#") Контакты
